.wrapper {
  margin: 0 auto;
  margin-top: calc(var(--s0) * 2);
  max-width: 960px;
  display: flex;
  padding: 0 var(--s0);
  flex-direction: column;
  /* justify-content: center; */
}

h1,
h2,
h3 {
  color: var(--heading-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  line-height: var(--line-height);
  font-size: var(--s2);
}

header {
  margin-bottom: var(--s0);
}

.person {
  display: flex;
  align-items: center;
}

form {
  display: flex;
}

form > #search {
  flex-grow: 1;
  padding: var(--s0);
}

#input {
  width: 100%;
}

button[type="submit"] {
  margin-left: var(--s0);
}

.hed {
}
