*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--base);
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  color: var(--heading-color);
  line-height: var(--line-height-small);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  letter-spacing: 2px;
  font-size: var(--s2);
}

header {
  margin-bottom: var(--s0);
}

.wrapper {
  margin: 0 auto;
  margin-top: calc(var(--s0) * 2);
  max-width: 960px;
  display: flex;
  padding: 0 var(--s0);
  flex-direction: column;
}

.person {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

form > #search {
  flex-grow: 1;
  padding: var(--s0);
}

#input {
  width: 100%;
}
